:root {
  --primary: rgb(3, 0, 138);
}

body {
  margin: 0;
}
.image-box img {
  display: none;
  height: 500px;
  width: 100%;
}
.image-box img:first-child {
  display: block;
}
h1.title {
  text-align: center;
  color: var(--primary);
}
.slider {
  width: 50%;
  margin: auto;
  position: relative;
}
.controllers {
  position: absolute;
  top: 47%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.controllers button {
  border-radius: 50%;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--primary);
  color: var(--primary);
}
.indicators {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}
.indicators span {
  display: inline-block;
  /* background-color: rgba(255, 255, 255, 0.65); */
  background-color: rgba(255, 255, 255);
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  opacity: 40%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.18);
}

.indicators span:first-child {
   opacity: 100%;
}